node_modules/
out/
.idea/
.DS_Store
*.iml
src/files/vendor/components-bootstrap
src/files/vendor/jquery
.docpad.db
src/documents/guide
.ftppass
pluginList.json
src/documents/docs/
src/documents/plugins/
src/files/plugins/
pimatic.org.sublime-project
pimatic.org.sublime-workspace
tarball