a, a:link
  cursor pointer

body
  line-height: 22px

body .h1, body .h3, body .h3, body .h4, body .h5, body .h6,
body h1, body h2, body h3, body h4, body h5, body h6  {
    color: #07A2FF;
}

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px

.shariff
  margin-bottom: 12px

body .shariff li
  max-width: 200px;

.intro
  .first
    h2, p
      display: inline
  margin: 20px 0
  
  p + h4, .row
    margin-top: 28px

.navbar-brand .logo
  float: left
  height: 20px

.file-listing
  background-color: #f7f7f9
  td
    padding: 2px !important;

.alert-warning
  color: #5C4400

.gist
  font-size: 13px

.gist .gist-file .gist-data .line-pre
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;

.gist .gist-file .gist-data
  background-color: #f5f5f5 !important;

.panel > .panel-body.list-group
  padding: 0

.toc
  display: inline-block
  min-width: 297px
  marging-bottom: 0

  .list-group-item, .panel-heading
    padding: 7px 15px;

/* Customize container */
@media (min-width: 768px) {
  .layout-default .container, .layout-guide .container, .layout-page .container {
    max-width: 980px;
  }
  .navbar .container {
    max-width: 980px;
  }
}

@media screen and (min-width: 768px)  {
  .jumbotron {
    padding-top: 24px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .dropdown-header {
    color: black;
  }
  .github-fork-ribbon-wrapper {
    display: none
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .nav > li > a {
    padding: 15px 8px;
  }
  .navbar-brand {
    padding: 15px 7px;
  }
}
.container {
  position: relative;
}

.item .jumbotron {
  background-color: rgba(235, 244, 255, 0.8);
  margin-top: 27px;
  border-radius: 0;
}

.item .jumbotron h3, .item .jumbotron .h3 {
  font-size: 34px;
}

.scroll-nav {
  position: absolute;
  left: -220px;
}
.scroll-nav.fixed .scroll-nav__wrapper {
  position: fixed;
  top: 60px;
}

.scroll-nav__wrapper {
  border-radius: 6px;
  width: 220px;
}

.scroll-nav__list {
  list-style-type: none;
  list-style-position:outside;
  margin-bottom: 0;
  padding-left: 0;
}

.scroll-nav__item.active {
  font-weight: 800;
}
.scroll-nav__item.active a:hover {
  font-weight: 800;
}

.scroll-nav__link {
  display: block;
}

.navbar {
  background-image: none;
}

.plugin-list {
  .meta {
    margin-top: -9px;
    color: gray;
    a {
      color: #3D3D3D;
    }
  }
}

.plugin-lists > div:nth-child(odd) {
  background-color: #f9f9f9;
}

@media screen and (min-width: 65em) {

  .scroll-nav__wrapper {
    padding: 15px 10px;
  }
  .scroll-nav__item {
    overflow: visible;
    width: 170px;
  }

}

.config-table .config-table {
  margin-left: 15px;
  width: 98% !important;
}

.config-table {
  border: 1px dashed #ddd;
}

div.pimatic-config > .table:first > tbody > tr > td > strong {
  color: #317eac;
  font-size: 18px;
}

.table > tbody > tr.even > td{
  background-color: #f9f9f9;
}

.config-table > tbody > tr> td.continue {
  border-top: 0;
  padding-top: 0;
}

.config-table > tbody > tr> td.continue > table {
  margin-top: 10px;
}

.config-table > tbody > tr > th  {
 background-color: #f9f9f9;
 color: gray;
 padding-top: 4px;
 padding-bottom: 4px;
 font-style: italic;
 font-weight: normal;
}

#donations {
  table.stickers{
    td, th{
      text-align: center;
    }
    th {
      border: 1px solid #dddddd;
      border-bottom: none !important;
    }
    td {
      border: 1px solid #dddddd;
      border-top: 0px !important;
    }

    .highlight {
      background-color: #f4f4f4;
    }

    a {
      text-decoration: underline dashed;
    }
  }

  .color {
    display: inline-block;
    width: auto;
    padding: 0px 5px;
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: bold;
    font-size: 80%
  }

  .images-inside {
    margin: 0 -10px;
    margin-top: -20px;
  }

  .with-image {
    float: left;
    padding: 10px;
    margin: 10px;
  }

  .with-image img {
    border-radius: 5px;
    border: 3px solid silver;
    margin-bottom: 5px;
  }

  div.disabled {
    opacity: 0.4;
  }

}

.markdown img {
  max-width: 100%;
}