--- yaml
layout: 'default'
title: 'Home'
---
script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
script(type='text/javascript', src='/vendor/owl-carousel2/owl.carousel.min.js')
#owl-demo.owl-carousel.owl-theme(style="position: absolute; left: 0; top: 50px; z-index: 5")
  .item(style="height: 350px; background: url(/img/slider1.jpg) no-repeat center;")
    .container
      .jumbotron(style="margin-top:55px")
        h1 pimatic
        p smart home automation for the raspberry pi
        p
          a.btn.btn-primary(href="guide/getting-started/installation") Installation
          a.btn(href="/pages/demo") or try the demo!
  .item(style="height: 350px; background: url(/img/slider4.svg) no-repeat center;")
    .container
      .jumbotron(style="margin-top:55px; display: none;")
        h3 Control all your Things
        p Discover over 70 plugins!
  .item(style="height: 350px; background: url(/img/slider2w.svg) no-repeat center;")
    .container
      .jumbotron(style="margin-top:101px; padding: 10px 20px")
        h3 Automation
        p(style="font-size: 28px; line-height: 30px; text-align: center;") "#[strong If] my smartphone is present #[strong and] its after 6pm #[strong then] turn the lights on"
  .item(style="height: 350px; background: url(/img/slider3.png) no-repeat center;")
    .container
      .jumbotron(style="margin-top:105px; text-align: center")
        h3 Web-based Interface
        p Modern, Responsive, Access from everywhere!
style.
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -25px;
    z-index: 11;
    position: relative;
  }

  .owl-dots span {
    border: 1px solid #909090;
  }
  .owl-item{
    z-index: 10; /* Fix for OwlCarousel2 Issue #772 (loop flicker) */
  }
script(type='text/javascript').
  $( document ).ready(function() {
    $("#owl-demo").width($(window).width());
    $('body > .container').css('position', 'static')
    $("#owl-demo").owlCarousel({
      items: 1,
      loop: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      dots: true
    });
    var owl = $("#owl-demo").data('owlCarousel');
    $(window).resize(function() {
      $("#owl-demo").width($(window).width());
    });
  });
.intro(style="margin-top: 360px;")
  div.first
    div.shariff(data-lang="en", data-services='["facebook", "googleplus", "twitter", "whatsapp", "reddit"]', data-backend-url="//pimatic.org/shariff-backend/" )
    h2 pimatic 
    :markdown
      is a home automation framework that runs on [node.js](http://nodejs.org). It provides a 
      common extensible platform for home control and automation tasks.  
  div.row
    div.col-lg-6
      h4
        span.glyphicon.glyphicon-list-alt
        |  Uniform interface
      :markdown
        It defines several schemata for different home devices and sensors, so that all devices can be 
        controled uniform and are presented in a common interface.
    div.col-lg-6
      h4
        span.glyphicon.glyphicon-ok
        |  Automation by rules
      :markdown
        Automation tasks can be defined by rules in the form of "if this then that", where the "this" and 
        the "that" part can be fully custemized by plugins. See [the rule page](/guide/usage/rules) for 
        more details.
    div.col-lg-6
      h4
        span.glyphicon.glyphicon-phone
        |  Web-based
      :markdown
        The mobile frontend plugin provides a nice web frontend with a sensor overview, device control and
        rule definition. The web interface is build using [express](http://expressjs.com) and 
        [jQuery Mobile](http://jquerymobile.com‎).
    div.col-lg-6
      h4
        span.glyphicon.glyphicon-plus
        |  Extensible
      :markdown
        pimatic is extensible by various plugins adding features and integrating existing hardware and software.
div.alert.alert-warning
  strong pimatic has beta status 
  p 
  :markdown
    We are doing our best to get it stable. But be warned that it comes without any guaranty to work. 
    So you are using it on your own risk. If you want to help make it better please
    contribute by posting [issues on github](https://github.com/pimatic/pimatic/issues) or get involved with 
    development.


